In [21]:
import pandas as pd

In [22]:
df = pd.read_csv("dataset/heart.csv")

In [23]:
df.head()

   Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0   40   M           ATA  ...      0.0        Up             0
1   49   F           NAP  ...      1.0      Flat             1
2   37   M           ATA  ...      0.0        Up             0
3   48   F           ASY  ...      1.5      Flat             1
4   54   M           NAP  ...      0.0        Up             0

[5 rows x 12 columns]

In [24]:
df.shape

(918, 12)

In [25]:
df.describe()

              Age   RestingBP  ...     Oldpeak  HeartDisease
count  918.000000  918.000000  ...  918.000000    918.000000
mean    53.510893  132.396514  ...    0.887364      0.553377
std      9.432617   18.514154  ...    1.066570      0.497414
min     28.000000    0.000000  ...   -2.600000      0.000000
25%     47.000000  120.000000  ...    0.000000      0.000000
50%     54.000000  130.000000  ...    0.600000      1.000000
75%     60.000000  140.000000  ...    1.500000      1.000000
max     77.000000  200.000000  ...    6.200000      1.000000

[8 rows x 7 columns]

In [26]:
# OUTLIERS FOR CHOLESTROL
df[df['Cholesterol']>(df['Cholesterol'].mean()+3*df['Cholesterol'].std())]

     Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
76    32   M           ASY  ...      0.0      Flat             1
149   54   M           ASY  ...      1.0      Flat             1
616   67   F           NAP  ...      1.6      Flat             0

[3 rows x 12 columns]

In [27]:
# Filtered the outlier in cholestrol
df1 = df[df['Cholesterol']<=(df['Cholesterol'].mean()+3*df['Cholesterol'].std())]
df1.shape

(915, 12)

In [28]:
df[df['MaxHR']>(df['MaxHR'].mean()+3*df['MaxHR'].std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [29]:
df[df.Oldpeak>(df.Oldpeak.mean()+3*df.Oldpeak.std())]

     Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
166   50   M           ASY  ...      5.0      Flat             1
702   59   M            TA  ...      4.2      Down             0
771   55   M           ASY  ...      5.6      Down             1
791   51   M           ASY  ...      4.2      Flat             1
850   62   F           ASY  ...      6.2      Down             1
900   58   M           ASY  ...      4.4      Down             1

[6 rows x 12 columns]

In [30]:
df2 = df1[df1.Oldpeak<=(df1.Oldpeak.mean()+3*df1.Oldpeak.std())]
df2.shape

(909, 12)

In [31]:
df[df.RestingBP>(df.RestingBP.mean()+3*df.RestingBP.std())]

     Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
109   39   M           ATA  ...      0.0        Up             0
241   54   M           ASY  ...      2.0      Flat             1
365   64   F           ASY  ...      1.0      Flat             1
399   61   M           NAP  ...      0.0      Flat             1
592   61   M           ASY  ...      2.0      Down             1
732   56   F           ASY  ...      4.0      Down             1
759   54   M           ATA  ...      0.0        Up             1

[7 rows x 12 columns]

In [33]:
df3 = df2[df2.RestingBP<=(df2.RestingBP.mean()+3*df2.RestingBP.std())]
df3.shape

(902, 12)

In [38]:
df3['ChestPainType'].unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [39]:
df3['RestingECG'].unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [40]:
df3['ExerciseAngina'].unique()

array(['N', 'Y'], dtype=object)

In [41]:
df3['ST_Slope'].unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [42]:
df4 = df3.copy()
df4['ExerciseAngina'].replace(
    {
        'N': 0,
        'Y': 1
    }, inplace=True
)
df4['ST_Slope'].replace(
    {
        'Down': 1,
        'Flat': 2,
        'Up': 3
    }, inplace=True
)
df4['RestingECG'].replace(
    {
        'Normal': 1,
        'ST': 2,
        'LVH': 3
    }, inplace=True
)
df4.head()

/var/folders/_k/j2hn9y9x5059xgg55qr9vcz80000gn/T/ipykernel_3709/3462722675.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df4['ExerciseAngina'].replace(
/var/folders/_k/j2hn9y9x5059xgg55qr9vcz80000gn/T/ipykernel_3709/3462722675.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df4['ExerciseAngina'].replace(
/var/folders/_k/j2hn9y9x5059xgg55qr9vcz80000gn/T/ipykernel_3709/3462722675.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df4['ST_Slope'].replace(
/var/folders/_k/j2hn9y9x5059xgg55qr9vcz80000gn/T/ipykernel_3709/3462722675.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df4['ST_Slope'].replace(
/var/folders/_k/j2hn9y9x5059xgg55qr9vcz80000gn/T/ipykernel_3709/3462722675.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df4['RestingECG'].replace(
/var/folders/_k/j2hn9y9x5059xgg55qr9vcz80000gn/T/ipykernel_3709/3462722675.py:15: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df4['RestingECG'].replace(

   Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0   40   M           ATA  ...      0.0         3             0
1   49   F           NAP  ...      1.0         2             1
2   37   M           ATA  ...      0.0         3             0
3   48   F           ASY  ...      1.5         2             1
4   54   M           NAP  ...      0.0         3             0

[5 rows x 12 columns]

In [43]:
df5 = pd.get_dummies(df, drop_first=True)
df5.head()

   Age  RestingBP  Cholesterol  ...  ExerciseAngina_Y  ST_Slope_Flat  ST_Slope_Up
0   40        140          289  ...             False          False         True
1   49        160          180  ...             False           True        False
2   37        130          283  ...             False          False         True
3   48        138          214  ...              True           True        False
4   54        150          195  ...             False          False         True

[5 rows x 16 columns]

In [44]:
X = df5.drop("HeartDisease",axis='columns')
y = df5.HeartDisease

X.head()

   Age  RestingBP  Cholesterol  ...  ExerciseAngina_Y  ST_Slope_Flat  ST_Slope_Up
0   40        140          289  ...             False          False         True
1   49        160          180  ...             False           True        False
2   37        130          283  ...             False          False         True
3   48        138          214  ...              True           True        False
4   54        150          195  ...             False          False         True

[5 rows x 15 columns]

In [46]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.4331398 ,  0.41090889,  0.82507026, ..., -0.8235563 ,
        -1.00218103,  1.15067399],
       [-0.47848359,  1.49175234, -0.17196105, ..., -0.8235563 ,
         0.99782372, -0.86905588],
       [-1.75135854, -0.12951283,  0.7701878 , ..., -0.8235563 ,
        -1.00218103,  1.15067399],
       ...,
       [ 0.37009972, -0.12951283, -0.62016778, ...,  1.21424608,
         0.99782372, -0.86905588],
       [ 0.37009972, -0.12951283,  0.34027522, ..., -0.8235563 ,
         0.99782372, -0.86905588],
       [-1.64528563,  0.30282455, -0.21769643, ..., -0.8235563 ,
        -1.00218103,  1.15067399]], shape=(918, 15))

In [47]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=30)

In [48]:
X_train.shape

(734, 15)

In [49]:
X_test.shape

(184, 15)

In [50]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

model_params = {
    'logistic_regression': {
        'model': LogisticRegression(),
        'params': {
            'solver': ['lbfgs', 'liblinear'],
            'C': [1,3,6,9,12]
        }
    },
    'decision_tree':{
        'model': DecisionTreeClassifier(),
        'params': {
            'criterion': ['gini', 'entropy', 'log_loss']
        }
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params': {
            'n_estimators': [5,10,15,20,25]
        }
    },
    'svm': {
        'model': SVC(),
        'params': {
            'C': [1, 10, 20, 30, 40],
            'kernel': ['rbf', 'linear'],
            'gamma':['scale', 'auto']
        }
    }
}

In [52]:
from sklearn.model_selection import GridSearchCV
scores = []
for model_name, model_param in model_params.items():
    search = GridSearchCV(model_param['model'],model_param['params'],cv=5,return_train_score=False)
    search.fit(X_train, y_train)
    scores.append({
        'model': model_name,
        'best_score': search.best_score_,
        'best_param': search.best_params_
    })
scores

[{'model': 'logistic_regression',
  'best_score': np.float64(0.8556238933929736),
  'best_param': {'C': 1, 'solver': 'liblinear'}},
 {'model': 'decision_tree',
  'best_score': np.float64(0.7997763488957228),
  'best_param': {'criterion': 'entropy'}},
 {'model': 'random_forest',
  'best_score': np.float64(0.8569937564066723),
  'best_param': {'n_estimators': 20}},
 {'model': 'svm',
  'best_score': np.float64(0.8705991985835428),
  'best_param': {'C': 1, 'gamma': 'scale', 'kernel': 'rbf'}}]

In [53]:
# Use PCA to reduce dimension
from sklearn.decomposition import PCA
pca = PCA(0.95)
X_pca = pca.fit_transform(X)
X_pca.shape

(918, 2)

In [54]:
X_train_pca, X_test_pca, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=30)

In [55]:
from sklearn.svm import SVC
model_svm = SVC(C=1, gamma='scale', kernel='rbf')
model_svm.fit(X_train_pca, y_train)
model_svm.score(X_train_pca, y_test)

ValueError: Found input variables with inconsistent numbers of samples: [184, 734]